.container {
  width: 90vw;
  min-width: 1050px;
  background-color: white;
  margin: 50px auto;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.roomlist_container {
  width: calc(100% - 400px);
  min-width: 650px;
  min-height: 90vh;
  background-color: blue;
  text-align: center;
  padding: 50px 0;
}

.profile_container {
  width: 400px;
  height: 100%;
  min-width: 400px;
  min-height: 600px;
}